@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<div class="row" style="text-align: justify;">
    <div class="col-md-4" style="padding-left:30px; ">
        <h3>Address</h3>
        <address>
            Sv. Kliment Ohridski 135<br />
            1000 Skopje<br />
            Macedonia<br />
            <abbr title="Phone"> <h3>Phones</h3></abbr>
            <strong>Phone   </strong>+38921234567 <br />
            <strong>Mobile  </strong>+38970123456
        </address>
        <address>
            <strong>Contact:</strong> <br />  <a href="mailto:contactviviano@gmail.com">contactviviano@gmail.com</a><br /><br />
            <strong>About orders:</strong> <br /><a href="mailto:ordersviviano@gmail.com">ordersviviano@gmail.com</a>
        </address>
    </div>
    <div style="margin-left:80px; display: block; float: left;">
        <h3>We are here:</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.140628016203!2d21.44275639999999!3d41.997257399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415bae2cc9bbb%3A0x7c0a2d73eab6c19d!2sSv.+Kliment+Ohridski%2C+Skopje+1000%2C+Macedonia+(FYROM)!5e0!3m2!1sen!2s!4v1423516816249" width="400" height="300" frameborder="0" style="border:0"></iframe>
    </div>
</div>

    

   

    