@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top: 30px;">
    <h1>Valentine's Day</h1>
    <h3>Choose a gift for your Valentine from our products and get 40% off for an order in the next 60 minutes!</h3>
    <br />
    <p>Look at all Valentine's flowers & products   <a href="~/Services/Promotion" class="btn btn-primary">HERE</a></p>
</div>

<div class="row" style="text-align: justify;">
    <div class="col-md-4" style="padding:30px; ">
        <h2>Promotions</h2>
        <p>This month you can enjoy at more than 50 products included in Valentine's day promotion.
            Stay tuned 'cause many new promotions are coming up - new month, same place! 
        </p>
        <p><a class="btn btn-info" href="~/Services/Promotion">View current promotion &raquo;</a></p>
    </div>
    <div class="col-md-4" style="padding:30px;">
        <h2>Free Delivery</h2>
        <p>Our shop offers free delivery for every order with payment at least 30 minutes after it is created.</p>
        <p><a class="btn btn-info" href="~/Services/Index#Delivery">More about delivery &raquo;</a></p>
    </div>
    <div class="col-md-4" style="padding:30px;">
        <h2>Register account</h2>
        <p>Still not our member? Register your account for FREE and use our great features like having your own list of Favourites, make Orders or keep items to your Shop Cart!</p>
        <p><a class="btn btn-info" href="~/Account/Register">Register NOW &raquo;</a></p>
    </div>
</div>