@model IEnumerable<FlowerAndGiftShop.Models.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.UserType == "employee")
{
    <p style="margin-top: 30px;">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    </p>
}
<a name="events"></a>
    <h1>Events & Decorations</h1>

<a name="wedding"></a>
    <div class="row" style="text-align: justify;">
        <h2 style="padding:30px;">Wedding</h2>
        <div class="col-md-4" style="padding:30px; ">            
            <img src="~/Images/Services/Wedding-Decoration-1.jpg" alt="" height="300" width="300" />
        </div>
        <div class="col-md-4" style="padding:30px;">
            <img src="~/Images/Services/Wedding-Decoration-Flowers-1.jpg" alt="" height="300" width="300" />
        </div>
        <div class="col-md-4" style="padding:30px;">
            <img src="~/Images/Services/Wedding-Decorations-12.jpg" alt="" height="300" width="300" />
        </div>
    </div>

<a name="party"></a>
    <div class="row" style="text-align: justify;">
        <h2 style="padding:30px;">Party </h2>
        <div class="col-md-4" style="padding:30px;">
            <img src="~/Images/Services/party3.jpg" alt="" height="300" width="300" />
        </div>  
        <div class="col-md-4" style="padding:30px; ">
            <img src="~/Images/Services/party1.jpg" alt="" height="300" width="300" />
        </div>
        <div class="col-md-4" style="padding:30px;">
            <img src="~/Images/Services/party2.jpg" alt="" height="300" width="300" />
        </div> 
    </div>

<a name="outdoor"></a>
    <div class="row" style="text-align: justify;">
        <h2 style="padding:30px;">Outdoor</h2>
        <div class="col-md-4" style="padding:30px; ">
            <img src="~/Images/Services/out4.jpg" alt="" height="300" width="300" />
        </div>
        <div class="col-md-4" style="padding:30px;">
            <img src="~/Images/Services/out2.jpg" alt="" height="300" width="300" />
        </div>
        <div class="col-md-4" style="padding:30px;">
            <img src="~/Images/Services/out1.jpg" alt="" height="300" width="300" />
        </div>
    </div>

<a name="christmas"></a>
    <div class="row" style="text-align: justify;">
        <h2 style ="padding:30px;">Christmas</h2>
        <div class="col-md-4" style="padding:30px; ">
            <img src="~/Images/Services/chris1.jpg" alt="" height="300" width="300" />
        </div>
        <div class="col-md-4" style="padding:30px;">
            <img src="~/Images/Services/chris3.jpg" alt="" height="300" width="300" />
        </div>
        <div class="col-md-4" style="padding:30px;">
            <img src="~/Images/Services/chris2.jpg" alt="" height="300" width="300" />
        </div>
    </div>

<a name="promotions"></a>
    <div class="row" style="text-align: justify; padding:30px;">
        <h2 style="padding:30px;">Promotions</h2>
            <p>
                This month you can enjoy at more than 50 products included in Valentine's day promotion.
                Stay tuned 'cause many new promotions are coming up - new month, same place!
            </p>
    </div>

<a name="Delivery"></a>
    <div class="row" style="text-align: justify; padding:30px;">
        <h2 style="padding:30px;">Free Delivery</h2>
        <p>>> Free delivery for every order with payment at least 30 minutes after it is created <<</p>
        <p>>> Free delivery for every order which address is less than 30km from our shop address <<</p>
    </div>

<br />
    
